####
./DynamicBlocksandBuilt-inFunctionstoDeploytoAWS/.terraform
./DynamicBlocksandBuilt-inFunctionstoDeploytoAWS/.terraform.*
#####
./WorkspaceandStatetoManipulate-a-TerraformDeployment/.terraform
./WorkspaceandStatetoManipulate-a-TerraformDeployment/.terraform.*